/*----------HEADER---------*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}
header nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav div div a img {
  height: 70px;
  width: 200px;
}
header nav div div h1 {
  background-color: #111111;
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  backdrop-filter: blur(300px);
}
header nav div div ul li .nav-mi {
  background-color: rgb(4, 6, 24);
  color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/*-------------BANNER------------*/
.hero-sec {
  background-image: url("../img/hero-img.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.hero-sec h2 {
  font-family: "Montserrat Underline";
  font-size: 90px;
  backdrop-filter: blur(1px);
  color: black;
}
.hero-sec p {
  font-size: xx-large;
  backdrop-filter: blur(3px);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-weight: 200;
}
.hero-sec .linkbutton {
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #494949;
  transition: scale 0.3s ease;
}
.hero-sec .linkbutton:hover {
  scale: 1.1;
}

/*------------ Presentacion rapida -------------*/
.presentacion {
  background-color: #111111;
  color: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.presentacion > p {
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
  grid-column: 1/-1;
  background-color: #111111;
}
.presentacion div {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.presentacion div img {
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
}
.presentacion div p {
  margin: 10px 0;
  font-size: medium;
}
.presentacion div .linkbutton {
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #494949;
  font-size: medium;
  margin-top: 10px;
}
.presentacion div .linkbutton:hover {
  background-color: blue;
}

/*--------------Compra rapida/Tarjetas--------------*/
.productos-imp {
  background-color: rgb(2, 52, 56);
  padding: 30px;
}
.productos-imp h2 {
  text-align: center;
  color: azure;
  text-decoration: underline;
  font-size: 50px;
  margin-bottom: 50px;
}
.productos-imp .cont-tarj {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.productos-imp .cont-tarj .tarjeta {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: #111111;
  text-align: center;
  border: none;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.productos-imp .cont-tarj .tarjeta:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.productos-imp .cont-tarj .tarjeta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #494949;
}
.productos-imp .cont-tarj .tarjeta h3 {
  color: #fff;
  background-color: #494949;
  padding: 10px;
  font-size: medium;
}
.productos-imp .cont-tarj .tarjeta .boton {
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  margin: 10px 0;
}
.productos-imp .cont-tarj .tarjeta .boton:hover {
  background-color: #494949;
  color: #fff;
}

.main-motos {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #002347;
}
.main-motos .filtros {
  flex: 1;
  background-color: #b6b9bd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.main-motos .filtros h2 {
  margin-bottom: 20px;
}
.main-motos .filtros form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-motos .filtros form label {
  font-weight: bold;
}
.main-motos .filtros form button {
  background-color: #007bff;
  color: white;
}
.main-motos .produc-motos {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #022a53;
  padding: 10px;
}
.main-motos .produc-motos h2 {
  margin-bottom: 20px;
  color: #fff;
}
.main-motos .produc-motos .tarj-cont-motos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.main-motos .produc-motos .tarj-cont-motos .tarj-motos {
  background-color: #111111;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}
.main-motos .produc-motos .tarj-cont-motos .tarj-motos img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.main-motos .produc-motos .tarj-cont-motos .tarj-motos h3 {
  margin: 10px 0;
  font-size: large;
  color: #fff;
}
.main-motos .produc-motos .tarj-cont-motos .tarj-motos p {
  font-size: medium;
  color: #fff;
}
.main-motos .produc-motos .tarj-cont-motos .tarj-motos button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main-motos .produc-motos .tarj-cont-motos .tarj-motos button:hover {
  background-color: #218838;
}

.main-autos {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #002347;
}
.main-autos .filtros {
  flex: 1;
  background-color: #b6b9bd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.main-autos .filtros h2 {
  margin-bottom: 20px;
}
.main-autos .filtros form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-autos .filtros form label {
  font-weight: bold;
}
.main-autos .filtros form button {
  background-color: #007bff;
  color: white;
}
.main-autos .produc-autos {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: #022a53;
}
.main-autos .produc-autos h2 {
  margin-bottom: 20px;
  color: #fff;
}
.main-autos .produc-autos .tarj-cont-autos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.main-autos .produc-autos .tarj-cont-autos .tarj-autos {
  background-color: #111111;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}
.main-autos .produc-autos .tarj-cont-autos .tarj-autos img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.main-autos .produc-autos .tarj-cont-autos .tarj-autos h3 {
  margin: 10px 0;
  font-size: large;
  color: #fff;
}
.main-autos .produc-autos .tarj-cont-autos .tarj-autos p {
  font-size: medium;
  color: #fff;
}
.main-autos .produc-autos .tarj-cont-autos .tarj-autos button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main-autos .produc-autos .tarj-cont-autos .tarj-autos button:hover {
  background-color: #218838;
}

#seguros .seguros-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #111111;
  color: #fff;
}
#seguros .seguros-main div p {
  font-size: large;
}
#seguros .seguros-main .cont-seguros {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  border-radius: 8px;
}
#seguros .seguros-main .cont-seguros .img-seguro {
  width: 100%;
  height: 50vh;
  border-radius: 8px;
  overflow: hidden;
}
#seguros .seguros-main .cont-seguros .img-seguro img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: fill;
}
#seguros .tabla-seg {
  background-color: #494949;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

main .soporte {
  background-color: #494949;
  height: 10vh;
}
main .soporte div {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .soporte div p {
  color: #fff;
  text-align: center;
  font-size: x-large;
  margin: 10px;
}
main .contacto {
  background-color: #111111;
  height: 70vh;
  align-items: center;
  display: flex;
}
main .contacto div {
  background-color: #494949;
  align-self: center;
  border-radius: 20px;
}
main .contacto div form button {
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #111111;
  padding: 10px 60px;
  font-size: large;
}

footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
}
footer p {
  color: #fff;
}
footer h2 {
  color: #fff;
  text-decoration: dashed;
  margin-bottom: 30px;
}
footer a {
  margin-left: 70px;
  margin-right: 70px;
}

/* media */
@media (max-width: 1200px) {
  .div-text p {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .cont-tarj {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .hero-sec h2 {
    font-size: 50px;
  }
}
/*reset de pagina*/
* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
