/*reset de pagina*/
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
/*header*/
header {
    background-color: rgb(0, 0, 0);
}
header {
    position: sticky;
    top: 0 ;
    z-index: 1;
}
nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav div a img {
    height: 70px;
    width: 200px;
}

h1 {
    background-color: #111111;
    color: whitesmoke;
    padding: 15px;
    border-radius: 30px;
    backdrop-filter: blur(300px);
}
.nav-mi {

    background-color: rgb(4, 6, 24);
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
/*-------------BANNER------------*/
.hero-sec {
    background-image: url("../img/hero-img.webp");
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.hero-sec h2 {
    font-family: "Montserrat Underline";
    font-size: 90px;
    backdrop-filter: blur(1px);
    color: black;
}
.hero-sec p {
    font-size: xx-large;
    backdrop-filter: blur(3px);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: 200;
}
.herobutton {
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: #fff;
    background-color: #494949;
    margin: 5px;
}
/*------------ Presentacion rapida -------------*/
.presentacion {
    height: 80vh;
    background-color:#111111;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 35%);
    grid-template-areas: 
    " a b c"
    " d d d";
    row-gap: 25px;
    padding: 20px;
    align-content: center;
}

.div-text {
    grid-area: a ;
}
.presentacion .div-text p {
    color: #fff;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: #fff;
    border-radius: 10px;
    width: 100%;
}
.presentacion div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-centro {
    grid-area: b;
}
.img-mapa {
    grid-area: c;
}
.img-cons {
    grid-area: d;
}

/*--------------Compra rapida/Tarjetas--------------*/
.productos-imp {
    background-color: rgb(5, 25, 27);
    padding: 30px;
}
.productos-imp h2 {
    text-align: center;
    color: azure;
    text-decoration:underline;
    font-size: 50px;
    margin-bottom: 100px;
}
.cont-tarj {
    display: flex;
    justify-content: space-evenly;
}
.tarjeta {
    width: 250px;
    height: 310px;
    border-radius: 5px;
    background-color: #111111;
    text-align: center;
    justify-content: center;
    border: 5px solid black;
}
.tarjeta img {
    width: 230px;
    height: 200px;
    padding: 5px;
}
.tarjeta p {
    color: #fff;
    background-color: #494949;
    padding: 5px;
}
.boton {
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
    width: auto;
    padding: 5px;
    color: black;
}
/* --------footer---------- */
footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}
footer h2 {
    color: #fff;
    text-decoration: dashed;
    margin-bottom: 30px;
}
footer a {
    margin-left: 70px;
    margin-right: 70px;
}

/* media */
@media (max-width: 800px) {
    .hero-sec h2{
        font-size: 70px;
    }
}
@media (max-width: 1200px) {
    .div-text p {
        font-size: 30px;
    }
}
@media (max-width: 900px) {
    .cont-tarj {
        flex-direction: column; 
        gap: 30px;
        align-items: center;
    }
}