$color-pri: rgb(0, 0, 0);;
$color-sec: #111111;
$color-let: #fff;
@mixin boton ( $col-let, $col-bac){
    border-radius: 5px;
    padding: 10px 7px;
    text-decoration: none;
    color: $col-let;
    background-color: $col-bac;
}
@mixin contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    gap: 20px;
}