main {
    .soporte {
        background-color: #494949;
        height: 10vh;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                color: $color-let;
                text-align: center;
                font-size: x-large;
                margin: 10px;
            }
        }
    }
    .contacto {
        background-color: $color-sec;
        height: 70vh;
        align-items: center;
        display: flex;
        div {
            background-color: #494949;
            align-self: center;
            border-radius: 20px;
            form {
                button {
                    @include boton($color-let, $color-sec);
                    padding: 10px 60px;
                    font-size: large;
                }
            }
        }
    }
}